<div class="border-top mt-4 pb-4 pt-4 d-table col-12 v-align-middle width-full clearfix" style="align-items: center;">
    <div class="col-10 d-table-cell text-left v-align-middle">
            <div class="col-1 float-left text-left text-small text-blue">
                <span>仓库</span>
            </div>
            <div class="col-1 float-left text-left text-small text-blue">
                <span>测试</span>
            </div>
            <div class="col-1 float-left text-left text-small text-blue">
                <span>关于</span>
            </div>
            <div class="col-1 float-left text-left text-small text-blue">
                <span>联系</span>
            </div>
    </div>
    <div class="col-2 d-table-cell d-table text-gray-light">
        <span class="d-table-cell float-right">© 2021 Papers.</span>
    </div>
</div>