<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/primer/primer.css') }}">
    <link href="{{ url_for('static', filename='/images/logo.svg') }}" rel="icon" type="image/x-ico">
    <script type="text/javascript" src="{{ url_for('static', filename='/js/jq.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
      #paper{
          display: inline;
      }
      #cite{
          height: 100%;
          display: none;
      }
      #edit{
          height: 100%;
          display: none;
      }
      iframe{
          width: 100%;
          height: 100%;
      }
    </style>
    <script>
        function showPaper(){
            document.getElementById("paper_tab").setAttribute("aria-current", "page")
            document.getElementById("cite_tab").removeAttribute("aria-current")
            document.getElementById("edit_tab").removeAttribute("aria-current")
            document.getElementById("paper").style.display="inline";
            document.getElementById("cite").style.display="none";
            document.getElementById("edit").style.display="none";
        }
        function showCite(){
            document.getElementById("paper_tab").removeAttribute("aria-current")
            document.getElementById("cite_tab").setAttribute("aria-current", "page")
            document.getElementById("edit_tab").removeAttribute("aria-current")
            document.getElementById("paper").style.display="none";
            document.getElementById("cite").style.display="inline";
            document.getElementById("edit").style.display="none";
        }
        function showEdit(){
            document.getElementById("paper_tab").removeAttribute("aria-current")
            document.getElementById("cite_tab").removeAttribute("aria-current")
            document.getElementById("edit_tab").setAttribute("aria-current", "page")
            document.getElementById("paper").style.display="none";
            document.getElementById("cite").style.display="none";
            document.getElementById("edit").style.display="inline";
        }
    </script>
    <script>
        function deletePaper(id){
            const temp = document.createElement("form");
            temp.action = "/delete";
            temp.method = "post";
            temp.style.display = "none";
            const opt = document.createElement("input");
            opt.name = "fileid";
            opt.value = id;
            temp.appendChild(opt);
            document.body.appendChild(temp);
            temp.submit();
        }
    </script>
    <title>{{ paper[0][2] }} - Papers - Contributed by Yaozheng Fang</title>
</head>
<body>

{% include 'header.html' %}


<div class="container col-12 pt-6 bg-gray-light">
  <nav class="UnderlineNav" aria-label="Foo bar">
    <div class="UnderlineNav-body">
      <a id="paper_tab" class="UnderlineNav-item" href="#" aria-current="page" onclick=showPaper()>
        <svg class="UnderlineNav-octicon octicon octicon-tools" version="1.1" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path fill-rule="evenodd" d="M4.48 7.27c.26.26 1.28 1.33 1.28 1.33l.56-.58-.88-.91 1.69-1.8s-.76-.74-.43-.45c.32-1.19.03-2.51-.87-3.44C4.93.5 3.66.2 2.52.51l1.93 2-.51 1.96-1.89.52-1.93-2C-.19 4.17.1 5.48 1 6.4c.94.98 2.29 1.26 3.48.87zm6.44 1.94l-2.33 2.3 3.84 3.98c.31.33.73.49 1.14.49.41 0 .82-.16 1.14-.49.63-.65.63-1.7 0-2.35l-3.79-3.93zM16 2.53L13.55 0 6.33 7.46l.88.91-4.31 4.46-.99.53-1.39 2.27.35.37 2.2-1.44.51-1.02L7.9 9.08l.88.91L16 2.53z" /></svg>
        <span>浏览</span>
      </a>
      <a id="cite_tab" class="UnderlineNav-item" href="#" onclick=showCite()>
        <svg class="UnderlineNav-octicon octicon octicon-tools" version="1.1" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path fill-rule="evenodd" d="M4.48 7.27c.26.26 1.28 1.33 1.28 1.33l.56-.58-.88-.91 1.69-1.8s-.76-.74-.43-.45c.32-1.19.03-2.51-.87-3.44C4.93.5 3.66.2 2.52.51l1.93 2-.51 1.96-1.89.52-1.93-2C-.19 4.17.1 5.48 1 6.4c.94.98 2.29 1.26 3.48.87zm6.44 1.94l-2.33 2.3 3.84 3.98c.31.33.73.49 1.14.49.41 0 .82-.16 1.14-.49.63-.65.63-1.7 0-2.35l-3.79-3.93zM16 2.53L13.55 0 6.33 7.46l.88.91-4.31 4.46-.99.53-1.39 2.27.35.37 2.2-1.44.51-1.02L7.9 9.08l.88.91L16 2.53z" /></svg>
        <span>查看引用</span>
      </a>
      <a id="edit_tab" class="UnderlineNav-item" href="#" onclick=showEdit()>
        <svg class="UnderlineNav-octicon octicon octicon-tools" version="1.1" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path fill-rule="evenodd" d="M4.48 7.27c.26.26 1.28 1.33 1.28 1.33l.56-.58-.88-.91 1.69-1.8s-.76-.74-.43-.45c.32-1.19.03-2.51-.87-3.44C4.93.5 3.66.2 2.52.51l1.93 2-.51 1.96-1.89.52-1.93-2C-.19 4.17.1 5.48 1 6.4c.94.98 2.29 1.26 3.48.87zm6.44 1.94l-2.33 2.3 3.84 3.98c.31.33.73.49 1.14.49.41 0 .82-.16 1.14-.49.63-.65.63-1.7 0-2.35l-3.79-3.93zM16 2.53L13.55 0 6.33 7.46l.88.91-4.31 4.46-.99.53-1.39 2.27.35.37 2.2-1.44.51-1.02L7.9 9.08l.88.91L16 2.53z" /></svg>
        <span>文献描述</span>
      </a>
    </div>
  </nav>
</div>


<div class="container-lg pt-6 col-12">

    <div class="Subhead">
      <div class="Subhead-heading">{{ paper[0][2] }}</div>
      <div class="Subhead-actions">
          <button class="btn btn-primary mr-2" type="button">
              <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M7.47 10.78a.75.75 0 001.06 0l3.75-3.75a.75.75 0 00-1.06-1.06L8.75 8.44V1.75a.75.75 0 00-1.5 0v6.69L4.78 5.97a.75.75 0 00-1.06 1.06l3.75 3.75zM3.75 13a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5z"></path></svg>
              <span>下载至本地</span>
          </button>
          <button class="btn btn-danger mr-2" type="button" onclick=deletePaper({{ paper[0][0] }})>
              <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M6.5 1.75a.25.25 0 01.25-.25h2.5a.25.25 0 01.25.25V3h-3V1.75zm4.5 0V3h2.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75zM4.496 6.675a.75.75 0 10-1.492.15l.66 6.6A1.75 1.75 0 005.405 15h5.19c.9 0 1.652-.681 1.741-1.576l.66-6.6a.75.75 0 00-1.492-.149l-.66 6.6a.25.25 0 01-.249.225h-5.19a.25.25 0 01-.249-.225l-.66-6.6z"></path></svg>
              <span>删除</span>
          </button>
          <button class="btn mr-2" type="button" onclick="window.location.replace('/')">
              <span>回退</span>
          </button>

      </div>
    </div>


    <!--Sub tab 1-->
    <div id="paper">
        <iframe src="/static/pdfjs/web/viewer.html?file={{ url_for('static', filename='refs/') }}/{{ paper[0][2] }}"></iframe>
    </div>
    <!--Sub tab 2-->
    <div id="cite">
        <p>{{ paper[0][5] }}</p>
    </div>
    <!--Sub tab 3-->
    <form id="edit">
      <div class="form-group">
        <div class="form-group-header">
          <label for="example-textarea">请键入描述</label>
        </div>
        <div class="form-group-body">
          <textarea class="form-control" id="example-textarea">{{ paper[0][4] }}</textarea>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>


{% include 'footer.html' %}
</div>




</body>
</html>