<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/primer/primer.css') }}">
    <link href="{{ url_for('static', filename='/images/logo.svg') }}" rel="icon" type="image/x-ico">
    <script type="text/javascript" src="{{ url_for('static', filename='/js/jq.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        .wrapper{
            margin-top: 4em;
        }
    </style>
  <script>
    function register(){
      const temp = document.getElementById("registerform");
      temp.submit()
    }
  </script>
</head>
<body>

{% include 'header.html' %}

<div class="wrapper">
    <div class="col-3 mx-auto">
  <div class="Box box-shadow">
    <div class="Box-row">
      <h3 class="m-0 text-center">新用户注册，欢迎！</h3>
    </div>
    <div class="Box-row">
      <form method="POST" id="registerform" action="/register">
  <div class="form-group">
    <div class="form-group-header">
      <label for="example-text">用户名</label>
    </div>
    <div class="form-group-body">
      <input class="form-control" type="text" id="example-text" name="username" />
    </div>
  </div>

          <div class="form-group">
    <div class="form-group-header">
      <label for="example-text">密码</label>
    </div>
    <div class="form-group-body">
      <input class="form-control" type="text" id="example-text" name="password" />
    </div>
  </div>

        <div class="form-group">
    <div class="form-group-header">
      <label for="example-text">重复密码</label>
    </div>
    <div class="form-group-body">
      <input class="form-control" type="text" id="example-text" />
    </div>
  </div>

        <div class="form-group">
    <div class="form-group-header">
      <label for="example-text">电子邮箱</label>
    </div>
    <div class="form-group-body">
      <input class="form-control" type="text" id="example-text" />
    </div>
  </div>

</form>
    </div>
    <div class="Box-row">
        <div class="form-actions">
  <button type="button" class="btn btn-primary" onclick="register()">注册</button>
          <button type="button" class="btn" onclick="window.location.replace('/')">返回登录页</button>
</div>
    </div>
  </div>
</div>
</div>

</body>

</html>